<?xml version="1.0"?>
<!--
/**
 * Copyright © Embraceit, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <firstsection>
            <firstgroup>
                <dbHostName>127.0.0.1</dbHostName>
                <osDbName>posterland</osDbName>
                <dbUserName>ayaz</dbUserName>
                <dbPassword>admin123</dbPassword>
                <oscVersion>Ver 1.0.0</oscVersion>
                <dataChunkSize>500</dataChunkSize>
            </firstgroup>
        </firstsection>
    </default>
</config>
