<?xml version="1.0"?>
<!--
/**
 * Copyright © Embraceit, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="systemconfig" frontName="systemconfig">
            <module name="Embraceitechnologies_OscommerceToMagento" />
        </route>
    </router>
</config>

