<?xml version="1.0"?>
<!--
/**
 * Copyright © khaysoft LLC. All rights reserved.
 * See COPYING.txt for license details.
 * http://www.khaysoft.com 
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="systemconfig" frontName="systemconfig">
            <module name="Embraceit_OscommerceToMagento" />
        </route>
    </router>
</config>

