<?xml version="1.0"?>
<!--
/**
 * Copyright © Embraceit, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Embraceitechnologies_OscommerceToMagento::embraceIT" title="Embrace IT" translate="title" module="Embraceitechnologies_OscommerceToMagento" sortOrder="150" dependsOnModule="Embraceitechnologies_OscommerceToMagento" resource="Embraceitechnologies_OscommerceToMagento::parent"/>
        <add id="Embraceitechnologies_OscommerceToMagento::import_data" title="Import Data" translate="title" module="Embraceitechnologies_OscommerceToMagento" sortOrder="10" parent="Embraceitechnologies_OscommerceToMagento::embraceIT" action="dataimport/index/index" resource="Embraceitechnologies_OscommerceToMagento::parent"/>
        
    </menu>
</config>
