<?xml version="1.0"?>
<!--
/**
 * Copyright © Embraceit, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    <tab id="osc_m2" sortOrder="120" translate="label">
        <label>Embrace-it Data Import OSC to M2</label>
    </tab>
    <section id="firstsection" translate="label" sortOrder="100" showInWebsite="1"  showInStore="1"  showInDefault="1">
        <label>Data Import Settings</label>
        <tab>osc_m2</tab>
        <resource>Embraceit_OscommerceToMagento::parent</resource>
        <group id="firstgroup" showInWebsite="1"  showInStore="1"  showInDefault="1">
            <label>Import data</label>
            <field id="dbHostName" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="100" type="text">
            <label>Database Hostname</label>
            </field>
            <field id="osDbName" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="101" type="text">
            <label>Database Name</label>
            </field>
            <field id="dbUserName" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="102" type="text">
            <label>Database Username</label>
            </field>
            <field id="dbPassword" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="103" type="text">
            <label>Database Password</label>
            </field>
               <field id="databasePrefex" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="103" type="text">
            <label>Database table prefix i.e (osc_)</label>
            </field>
             <field id="productImagePath" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="103" type="text">
            <label>Product Image Path i.e (/var/www/html/image/)</label>
            </field>
            <field id="categoryImagePath" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="103" type="text">
            <label>Category Image Path i.e (/var/www/html/image/)</label>
            </field>
              <field id="customAttribute" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="103" type="text">
            <label>custom attribute name comma (,) seperated</label>
            </field>
            <field id="customAttributeTitle" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="103" type="text">
            <label>custom attribute title comma (,) seperated</label>
            </field>
            <field id="oscVersion" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="104" type="select">
            <label>Oscommerece Version</label>
            <source_model>Embraceit\OscommerceToMagento\Model\AdminArray</source_model>
            </field>
                        <field id="dataChunkSize" showInWebsite="1"  showInStore="1"  showInDefault="1"  translate="label" sortOrder="104" type="select">
            <label>Data Import Chunk size </label>
            <source_model>Embraceit\OscommerceToMagento\Model\AdminChunkArray</source_model>
            </field>
        </group>
    </section>
    </system>
</config>
